<!DOCTYPE html>
{% extends 'first_app/base.html' %}

{% block body_block %}
<h1>Home Page</h1>

<h2>Musicians</h2>
<ul>
  {% if musician_list %}

  {% for musician in musician_list %}
    <li> <a href="{% url 'first_app:album_list' artist_id:musician_id %}">{{ musician.first_name}} {{ musician.last_name}}</a> </li>
  {% endfor %}
  {% else %}
    <h3>No Musicians yet</h3>
  {% endif%}
</ul>

<h2>Albums</h2>
<ul>
  {% if album_list %}

  {% for album in album_list %}
    <li>{{ album.artist}}, {{ album.name}}, {{ album.release_date}}, {{ album.num_stars}}</li>
  {% endfor %}
  {% else %}
    <h3>No Album yet</h3>
  {% endif%}
</ul>

{% endblock %}
